<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>XXX网借款协议</title>
  <style>
    * {
      font-size: 14px
    }
    .bold {
      font-weight: bold
    }

    .text-right {
      text-align: right
    }

    h3 {
      text-align: center;
    }

    p {
      text-indent: 2em;
      line-height: 2em;
    }

    .p2 {
      text-indent: 4em
    }

    table {
      width:100%;
      border-collapse: collapse;
      border: 1px solid #BBB;;
      margin:0;
      margin-left: 5em;
    }

    td {
      border: 1px solid #BBB;
      text-align: center;
    }
	.demo, td {
		height: 81px;
		margin:0;
	}
    .space {
      height: 4em;
    }

    .underline {
      border-bottom: 1px solid #000;
      display: inline-block;
    }
    
    img {
    	vertical-align: middle;
    }
  </style>
</head>
<body style="font-family:SimSun;" >
  <div >
    <h3>某某某网借款协议</h3>
    <p class="text-right">编号：【$!applyNo】</p>
    <p class="bold">甲方（借款人）：【$!applyUser】</p><br/>
    <p class="bold">乙方 （出借人）：详见附件1</p><br/>
    <p class="bold">丙方：</p>
    <p>住所：【$!applyAddress】</p><br/>
    <p class="bold">丁方:上海某某某金融信息服务有限公司</p>
    <p>住所：上海市浦东新区峨山路505号东方纯一大厦5楼</p><br/>

    <p>就甲方通过丁方运营管理的某某某网平台（网址：<a href="http://www.midai88.com" target="_blank">www.mmm.com</a>）向乙方借款、并由丙方承担逾期代偿责任等事宜，甲、乙、丙、丁四方根据自愿、平等的原则，达成如下协议：</p>
    <p class="bold">第一条 定义</p>
    <p>除非本协议另有规定，以下词语在本协议中定义如下：</p>
    <p>1.1 出借人：指在某某某网平台上注册账户的会员，根据某某某网某某某发布的借款项目信息，自主选择出借一定数量资金给借款人，且具有完全民事权利能力和完全民事行为能力的自然人、法人或其他组织。</p>
    <p>1.2 借款人：指有一定的资金需求，经过丙方评估审核后筛选推荐、在某某某网平台注册账户，通过某某某网平台借入出借人资金，且具有完全民事权利能力和完全民事行为能力的自然人或根据中国法律注册成立且合法存续的公司法人或者具备借款人资格的其他组织（境外人士和机构除外）。</p>
    <p class="bold">第二条 借款用途、金额、期限及还款方式</p>
    <p>2.1 乙方向甲方提供借款人民币大写<u>&nbsp;$!upperMoney&nbsp;</u>（小写:￥<u>&nbsp;$!lowerMoney&nbsp;</u>），各出借人及借款本金数额详见附件1。</p>
    <p>2.2 借款用途：<u>&nbsp;$!loanUse&nbsp;</u>。</p>
    <p>2.3 借款期限为<u>&nbsp;$!periods&nbsp;</u>个月，自<u>&nbsp;${startYear}&nbsp;</u>年<u>&nbsp;$!startMonth&nbsp;</u>月<u>&nbsp;$!startDay&nbsp;</u>日至<u>&nbsp;$!endYear&nbsp;</u>年<u>&nbsp;$!endMonth&nbsp;</u>月<u>&nbsp;$!endDay&nbsp;</u>日。</p>
    <p>2.4 借款年利率为 <u>&nbsp;$!yearRate&nbsp;</u>%；月利率=年利率÷12；日利率=年利率÷365。</p>
    <p>2.5 还款方式：<u>&nbsp;$!loanType&nbsp;</u>。 具体详见附件2《还款计划表》。</p>
    <p class="bold">第三条 借款流程</p>
    <p>3.1 出借资金冻结：丙方向某某某网平台推荐甲方、并委托丁方在某某某网平台上发布甲方借款信息，乙方按照某某某网平台上发布的规则、并在某某某网上对发布的甲方借款需求点击“确认投标”按钮时，即视为其通过丁方发出不可撤销的授权指令，授权丁方在乙方账户中冻结金额等同于本协议附件1所列的“各出借人借款本金数额”的相应资金。</p>
    <p>3.2 出借资金划转：当甲方在本协议项下的借款需求全部得到满足，且甲方借款需求所对应的资金已经全部冻结时，即视为乙方不可撤销的授权丁方发出放款指令，由丁方将已冻结的金额等同于本协议附件1所列的“各出借人借款本金数额”的资金，由乙方平台账户划转至甲方平台账户或者甲方指定收款的他方账户。借款人或借款人授权的收款方一旦成功提现，即视为借款发放成功，此时借款利息及相关费用开始计收。</p>
    <p class="bold">第四条 各方的权利和义务</p>
    <p>4.1 甲方的权利和义务</p>
    <p>4.1.1 甲方有权按本协议约定取得和使用借款，但不得挪作他用或用于非法目的或用于投资股票市场等投资行为；</p>
    <p>4.1.2 按本协议约定，按期足额向乙方偿还每期应还本息、向丙、丁方按期支付相关费用，并支付因逾期还款和提前还款而产生的有关费用（如有）；</p>
    <p>4.1.3 应确保提供的身份、借款信息和资料真实、准确、完整，不得提供虚假信息或隐瞒重要事实；若甲方违反，则丙、丁方有权根据本协议有关条款对甲方的信息和资料予以合理披露。如甲方提供的收款银行账号有误，应在借款满标前告知或通过丙方及时告知丁方，否则甲方应自其原提供账号收款成功之日起开始支付借款利息和平台服务费。</p>
    <p>4.1.4甲方不得将本协议项下的任何权利义务转让给任何其他方；</p>
    <p>4.1.5 本协议成立之日起至借款全部清偿之日前，甲方有义务在其信息（包括但不限于姓名/名称、住所、联系方式、联系人、其他信息）发生改变后2日内书面通知丙、丁方，若因甲方不及时提供上述变更信息而带来的调查费及诉讼费将由甲方承担；</p>
    <p>4.1.6 甲方如涉及重大诉讼或出现其他影响还款能力的事项或出现可能影响乙方权益的事项（包括但不限于财产被冻结、扣押、查封）等，应在2日内如实书面通知丙、丁方；</p>
    <p>4.1.7甲方不得欺诈借款；不得同时以各种方式（包括但不限于通过在其他任一与丁方经营业务类似的网络借贷信息中介机构、通过变换借款项目名称、通过对借款项目内容进行非实质性变更）就本协议项下的借款项目进行重复借款；不得在丁方和与丁方经营业务类似的网络借贷信息中介机构以外的公开场所发布本协议项下的借款项目信息；</p>
    <p>4.1.8 甲方提供的保证应合法有效，所提供质押/抵押的资产不存在权利瑕疵。</p>
    <p>4.2 乙方的权利和义务</p>
    <p>4.2.1乙方应当拥有非保本类金融产品投资的经历、熟悉互联网、了解本协议项下借款项目的潜在风险，并确保具有相应的风险认知和承受能力、自行承担可能发生的出借资金本息损失；</p>
    <p>4.2.2乙方保证向丁方提供真实、准确、完整的身份等信息；</p>
    <p>4.2.3乙方保证其所用于出借的资金来源合法，乙方是该资金的合法所有人，如果第三方对资金归属、合法性问题提出异议，由乙方自行解决和负责。如乙方未能解决，则放弃享有其所出借资金所带来的利息等收益；</p>
    <p>4.2.4有权依约收取借款本息、逾期罚息（如有）、提前结清补偿金（如有）；</p>
    <p>4.2.5 当甲方违约时，授权丁方要求丙方（及/或）其担保人进行代偿；丁方亦可以将该等权利转授权于具备合法资质的第三方。</p>
    <p>4.3 丙方的权利和义务</p>
    <p>4.3.1审核并如实提供甲方与借款有关的资料，并且对其真实性、完整性、准确性和合法性负责；</p>
    <p>4.3.2 丙方提供的保证应合法有效，所提供质押/抵押的资产不存在权利瑕疵；</p>
    <p>4.3.3 丙方应在甲方未按时、足额偿还乙方的借款本金、利息及其他相关费用时立刻承担代偿责任；</p>
    <p>4.3.4丙方不应与甲方恶意窜通，通过虚构借款信息及借款资料等方式来损害乙方、丁方的合法权益。否则，丙方应承担相应的法律责任；</p>
    <p>4.3.5丙方应妥善保管、留存甲方向其提交的全部资料，并不得篡改、非法买卖、泄露该等信息，保管留存期限至少应为本协议到期后5年；</p>
    <p>4.3.6 其他本协议及与丁方签订合作协议项下之义务。</p>
    <p>4.4 丁方的权利和义务</p>
    <p>4.4.1 丁方为本协议项下借款提供信息交互平台居间服务并收取相应的服务费用；</p>
    <p>4.4.2 当甲方、丙方违约时，有权代理乙方对甲方、丙方进行追索。</p>
    <p>4.4.3丁方应妥善保管、留存乙方和丙方提交的甲方资料及乙方和甲方的交易信息，不得删除、篡改，不得非法买卖、泄露乙方与甲方的基本信息和交易信息。保管留存期限至少应为本协议到期后5年。</p>
    <p class="bold">第五条 收费及税费</p>
    <p>5.1 丙方有权就为本协议借款所提供的服务向甲方收取手续费和管理服务费等费用，上述费用的收取方式由甲、丙双方另行约定。</p>
    <p>5.2 丁方有权就为本协议借款所提供的居间服务向甲方收取平台服务费，平台服务费的收取由甲方授权的丙方和丁方另行约定。</p>
    <p>5.3 乙方应自行负担并主动缴纳因利息所得带来的可能的税费。</p>
    <p class="bold">第六条 还款方式</p>
    <p>6.1 甲方应当按照本协议的约定按时、足额偿还对乙方的借款本金和利息及其他相关费用。甲方同意并授权丙方在每月还款日当日12:00前向甲方扣收甲方当期应支付的本息及其他相关费用，其中本息金额等同于本协议附件2《还款计划表》所列的资金。具体扣收方式由甲丙双方另行约定。</p>
    <p>6.2 各方指定丁方平台账户为本协议项下还款的收款账户。各方同意丙方将扣收的本息及其他相关费用充值至该账户后，即视为甲方已经履行本协议项下对乙方的相应还款义务。丁方在收到该还款款项后立即发出指令，向乙方的平台账户划付该等款项。</p>
    <p>6.3 如果还款日遇到法定假日或公休日，还款日期不顺延。</p>
    <p>6.4 如果还款日为每月29日或30日或31日，则遇到无还款日对应日的月份，还款日为应还款当月的最后一日。</p>
    <p class="bold">第七条 代偿及贷后管理</p>
    <p>7.1 丙方同意为本协议项下甲、乙双方的债权债务提供咨询服务和贷后管理等工作，并在甲方未按时偿还债务时立刻承担代偿责任。丙方履行代偿义务后，有权取得本协议项下乙方对甲方所享有代偿范围内的全部债权，可依法向甲方追偿，乙方及丁方应提供合理及必要的协助。</p>
    <p>7.2 丙方承担代偿责任的期间为自本协议项下的借款发放之日起至借款到期后2年。丙方根据上述规定承担代偿责任后，乙方、丁方在本协议项下的当期的所有权利视为已经得到满足和实现，乙方、丁方不得再对甲方提出任何请求或主张。</p>
    <p>7.3 乙方委托丁方作为其合法代理人，在本协议项下协助办理督促借款偿还/代偿、债权转让等相关事宜，以保证乙方借款资金安全。</p>

    <p class="bold">第八条 提前还款</p>
    <p>8.1 若甲方需提前还款，则甲方应当偿还剩余全部本金及当期利息、支付当期服务费、提前结清补偿金及其他应付款项。甲方提出提前偿还全部债务时，乙方授权丙方决定是否同意甲方提出的提前还款申请。若甲方提前还款申请得到允许的，甲方应向乙方支付的提前结清补偿金总额=剩余利息*20%。提前还款的方式与第六条约定正常还款的方式相同。</p>
    <p>8.2 如甲方未按时偿还任何一期债务导致丙方需履行代偿责任，或者根据丙方认定发生任何可能影响甲方偿付能力的情形，各方同意丙方有权代甲方提出提前偿还全部债务的要求，甲方、乙方及丁方应同意该等要求，且甲方应当按上述8.1条约定向乙方支付剩余全部本金及当期利息、提前结清补偿金及其他应支付款项。</p>

    <p class="bold">第九条 逾期还款</p>
    <p>9.1 如约定还款日当日12:00前，丁方资金存管汇总账户中未收到或未足额收到甲方当月应还款的，视为逾期还款。</p>
    <p>9.2 如甲方未依约还款且丙方及/或其担保方未及时履行代偿责任，从而造成逾期还款的，甲方应按照逾期未还的本金与利息之和为基数，自逾期之日起按年化【10%】的标准支付逾期罚息（“逾期罚息”），直至清偿完毕之日止，利息及逾期罚息不计复利。同时，甲方应按照逾期未还的本金与利息之和为基数，自逾期之日起按年化【10%】的标准支付逾期违约金（“逾期违约金”），逾期违约金不计复利。逾期罚息由乙方收取，逾期违约金由丁方收取。但甲方支付的借款总成本不超过年化36%。</p>

    <p class="bold">第十条 违约责任</p>
    <p>10.1 如果甲方擅自改变本协议第二条规定的借款用途、严重违反本协议义务、提供虚假资料、故意隐瞒重要事实均视为甲方违约，乙方或者丁方有权提前终止本协议；同时，甲方应支付借款本金总额10%的金额作为违约金。甲方须在乙方提出终止本协议之日起3日内，向丙方账户一次性支付余下的所有本金、利息、服务费及违约金、其他费用（如有）等，由丙方收取后按照第八条的约定提前还款。如甲方未按约定时间支付上述款项的，则由丙方按本协议第七条的约定履行代偿义务。构成刑事犯罪的，乙方或者丁方有权向相关国家机关报案，追究甲方的刑事责任。</p>
    <p>10.2 发生下列任何一项或几项情形的，视为甲方严重违约：</p>
    <p>10.2.1 甲方的任何财产遭受没收、征用、查封、扣押、冻结等可能影响其履约能力的不利事件，且不能及时提供有效补救措施的；</p>
    <p>10.2.2 甲方的财务状况出现影响其履约能力的不利变化，且不能及时提供有效补救措施的。</p>
    <p>10.3 若发生10.2款所述情形，或乙方根据合理判断甲方可能发生10.2款所述的违约事件的，乙方有权自行或委托丙方或者丁方采取下列任何一项或几项救济措施：</p>
    <p>10.3.1 立即暂缓、取消发放全部或部分借款；</p>
    <p>10.3.2 宣布已发放借款全部提前到期，甲方应立即偿还所有应付款；</p>
    <p>10.3.3 提前终止本协议；</p>
    <p>10.3.4 采取法律、法规以及本协议约定的其他救济措施。</p>
    <p>采取上述措施后，丙方在原代偿的范围内继续承担本协议项下的代偿责任。</p>
    <p>10.4 甲方在此不可撤销地授权：丙方或者丁方可向中国人民银行征信系统或有关单位、部门及个人查询其信用状况；丙方或者丁方可将其违约信息提供给中国人民银行征信系统及有关部门批准建立的信用数据库、在有关网站平台上公布、向有关媒体披露或者进行公告催收。</p>
    <p>10.5 因甲方、丙方未依约还款、代偿而导致的调查及诉讼费用、律师费、公告费、差旅费等应由甲方、丙方承担。</p>

    <p class="bold">第十一条 变更通知</p>
    <p>若与甲方借款相关的信息（包括但不限于甲方姓名/名称、身份证号码/营业执照号/组织机构代码、住址/住所、电子邮件、联系方式）有所变更，甲方应及时告知丙方，丙方在知晓后应立即告知丁方。如因未及时提供上述变更信息而导致的丁方的调查及诉讼费用应由甲方、丙方承担。</p>

    <p class="bold">第十二条 债权、债务转让</p>
    <p>12.1 各方同意并确认，乙方授权丁方可根据实际需要，将本协议项下全部借款的债权转让予第三方，但该第三方必须为某某某网平台上的注册用户。</p>
    <p>12.2 乙方根据本协议转让借款债权时，甲方不可撤销地授权丙方代为接收该等转让通知；债权受让人依法承接乙方在本协议项下的权利和义务。债权转让后，甲方需对债权受让人在剩余借款期限继续履行本协议下其对乙方的还款义务，丙方在原代偿范围内继续承担本协议项下的代偿责任。</p>
    <p>12.3 未经乙方事先书面同意，甲方不得将本协议项下的任何权利义务转让给任何第三方。</p>

    <p class="bold">第十三条 风险提示</p>
    <p>13.1投资风险：本协议项下的甲方借款项目不同于银行储蓄，乙方既可能分享到出借所产生的收益，也可能承担出借所带来的损失。乙方应判断自身的风险承受能力、资产管理需求等，自行决定是否出借予甲方。</p>
    <p>13.2市场风险：甲方在后续还款过程中可能面临市场经济环境的风险，丁方不保证乙方一定会产生盈利。</p>
    <p>13.3政策风险：通过网络进行直接借贷的操作是新型模式，其会依据国家相关法律法规和监管政策的变化而变化。</p>
    <p>13.4信息传递风险：在协议有效期内，丁方可根据市场环境、行业要求、政策监管、法律规定等对相关服务规则进行调整。届时，丁方将在某某某平台（包括但不限于官网公告、站内信、手机平台等方式）进行公布。乙方应根据丁方平台所载的公告方式及时查询相关信息。如因乙方未及时查询，或通讯故障、系统故障以及其他不可抗力等因素的影响使得乙方未能及时了解到相关调整，由此产生的责任和风险由乙方自行承担。</p>
    <p>13.5不可抗力风险：由于自然灾害、战争、社会动乱、罢工、电力中断、黑客攻击、计算机病毒、系统或网络故障等不可抗力因素的出现，可能严重影响丁方平台服务的正常运行。</p>

    <p class="bold">第十四条 附则</p>
    <p>14.1 本协议以电子文本形式由某某某平台系统自动生成，各方认可该形式的效力。本协议的任何修改、补充均须以某某某网平台电子文本形式作出。</p>
    <p>14.2各方通过某某某平台以网络在线方式签署后，本协议立即生效，甲乙丙方同意其电子签章均由某某某平台系统代为生成。</p>
    <p>14.3如果本协议中的任何一条或多条因违反法律被视为无效，该无效条款并不影响本协议其他条款的效力。</p>
    <p>14.4 如果各方在本协议履行过程中发生任何争议，应友好协商解决；如协商不成，则须提交深圳国际仲裁院裁决。</p>
    <p>14.5 各方委托某某某网保管所有与本协议有关的书面文件或电子信息。若甲方、乙方、丙方出示的书面文件或电子信息与丁方提供的书面文件或电子信息不一致，均以丁方提供的书面文件或电子信息为准。</p>

    <p class="bold">（以下无正文，为签署处）</p>

    <p>甲方（签署）：<span style="color:white">&nbsp;&nbsp;$!signer1 </span></p>
    <div class="space"></div>

    <p>乙方（签署）：详见附件1</p>
    <div class="space"></div>

    <p>丙方（盖章）：</p>
    <div class="space"></div>

    <p>丁方（盖章）：上海某某某金融信息服务有限公司</p>
    <p>签署日期 ：<u>&nbsp;${signYear}&nbsp;</u>年<u>&nbsp;$!signMonth&nbsp;</u>月<u>&nbsp;$!signDay&nbsp;</u>日</p>
    <div class="space ">
    </div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
    <div class="demo">附件1：各出借人借款本金数额</div>
    <table>
      <tr>
        <td>姓名</td>
        <td>某某某用户ID</td>
        <td>出借金额（人民币/元）</td>
        <td>签章处</td>
      </tr>
      #foreach($lend in $lends)
        <tr>
          <td>${lend.lender}</td>
          <td>${lend.customerId}</td>
          <td>${lend.lendMoney}</td>
          <td><span style="color:white">${lend.Signer2}</span></td>
        </tr>
      #end
    </table>

    <div class="demo">附件2：《还款计划表》</div>
    <table>
      <tr>
        <td>还款期数</td>
        <td>计划还款额（元）</td>
        <td>计划还款日</td>
      </tr>
      #foreach($payment in $payments)
        <tr>
          <td>${payment.paymentPeriod}</td>
          <td>${payment.paymentMoney}</td>
          <td>${payment.paymentDay}</td>
        </tr>
      #end
    </table>

  </div>
</body>
</html>